h1 {
    color: blue;
    font-family: Georgia;
    text-align: center;
  }

h2 {
color: green;
  }  

* {
background-color: #E0FFFF;
}

h2 {
  font-family: Georgia;
  text-align: center;
}

p {
  line-height: 20px;
}

p strong {
  color: #f08080;
}

a {
   text-decoration: none; 
  }

{
  text-transform: uppercase;
}
